# Rust build directory
/target/
**/target/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment and secrets
**/secrets.toml
.env
.env.*

# OS specific files
.DS_Store
Thumbs.db

# Debug files
*.pdb 